*.err
*.out
*.nc
*.stat
*.output
*.step
*.lock
*.mod
*.exe
*ocean.output*
add_mod_ada_intel.sh
#*.sbatch
#*.sh
mk
Makefile
CMakeFiles
CMakeCache.txt
cfgs
*communication_report.txt
*output.namelist.dyn
*.cmake
